/*From DivShot*/
.main-features {
  margin-top: 10px;      
}

/*IE displays password characters in white*/
.password {
    background-color: #ffffff !important;
    color: #464646 !important;
    font-family: Arial !important;
}

/*IE doesnt handle the @media, from divshot-util.css*/
/*.navbar-fixed-top + .top_spacer */
.top_spacer {
    margin-top: 60px;
}

.anchor {
  position: relative;
  top: -60px;
}

hr {
    background-color: #d44413;
    padding: 1px;
}

.modal.large {
    position:absolute;
}

.carousel-inner .item {
    padding-left: 20px;
}

select {
    width: 100px;
}

select.wide {
    width: 125px;
}

select.extra_wide {
    width: 200px;
}

.border_top {
  border-top:1pt solid black;
  padding-top: 10px;
}

.border_bottom {
  border-bottom:1pt solid black;
  margin-bottom: 10px;
}

.row_header {
  border-bottom:1pt solid black;
  padding-left: 10px;
  margin-bottom: 10px;
}

.row_pill {
  border:1px solid #DDDDDD;
  border-radius:5px;
  padding: 10px;
  margin-bottom: 10px;
}

.row_pill:hover {
    background-color: #FAFAFA;
}

.body_contrast {
    background-color: #FCFCFC;
}

.topic_pill {
  background-color: #FFFFFF;
  border:1px solid black;
  border-radius:5px;
  padding: 25px;
  margin-bottom: 25px;
}

input {
    max-width: 100%;
}

.task_comment {
    color: #200000;
    font-size:90%
}

#task_editor {
    background-color: #FFFFFF;
    border:1pt solid #696969;
    border-radius:5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.bold_off {
    font-weight: normal;
}

.small_font {
    font-weight: normal;
    font-size:50%;
    color: #C2C2C2;
}

.hero-main {
    background-image: url(/images/index.jpg);
}

.hero-main-hiw {
    background-image: url(/images/hiw.jpg);
}

.hero-text
{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.20);
    text-shadow: 1px 1px 0px #000000;
    border-radius:5px;
}

.hero-text-hiw
{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.05);
    text-shadow: 1px 1px 0px #000000;
}

.back-green {
  background-color: #14FF00;
}

.back-red {
  background-color: #FF0000;
}

.back-yellow {
  background-color: #FFFF00;
}

.back-grey {
  background-color: #E3E3E3;
}

.fore-gold {
  color: #FFB800;
  text-shadow: 1px 1px 1px #000000;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 300px
}
